$containerWidth: 940px;
$baseFontSize: 18px;

//breakpoints
$tablets: 768px;
$phones: 480px;

//colors
$grey: #F8FAF9;

//z-indexes
$z-fixed-menu: 100;
$z-mobile-menu: 200;

@import "media";

//normalize
@import "normalize";

//setups
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700&display=swap");
@import "layout";

//components
@import "blocks/_hero.scss";
@import "blocks/_header.scss";
@import "blocks/_menu.scss";
@import "blocks/_features.scss";
@import "blocks/_btn.scss";
@import "blocks/_section.scss";
@import "blocks/_headline.scss";
@import "blocks/_benefits.scss";
@import "blocks/_benefit.scss";
@import "blocks/_slider.scss";
@import "blocks/_reviews.scss";
@import "blocks/_interactive-avatar.scss";
@import "blocks/_order.scss";
@import "blocks/_form.scss";
@import "blocks/_radio.scss";
@import "blocks/_fixed-menu.scss";
@import "blocks/_hamburger.scss";
@import "blocks/_map.scss";
@import "blocks/_footer.scss";
@import "blocks/_social.scss";
