.benefit {
    text-align: center;

    &__image {
        @include phones {
            flex-shrink: 0;
        }
    }

    &__image-wrapper {
        display: inline-block;
        width: rem(128px);
        height: rem(128px);
        position: relative;
        background: #F2F5F4;
        border-radius: 50%;
        overflow: hidden;
    }

    &__icon {
        width: rem(68px);
        height: rem(68px);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        fill: #000;
    }

    &__title {
        font-size: rem(27px);
        font-weight: 700;
        color: $lightBlack;

        @include phones {
            margin-bottom: rem(10px);
        }
    }

    &__text {
        @include phones {
            text-align: left;
            margin-left: rem(12px);
            padding-right: rem(30px);
        }
    }

    &__separator {
        position: absolute;
        width: rem(67px);
        height: rem(21px);
        top: rem(64px);
        right: rem(0px);
        transform: translateX(50%);
        fill: #F2F5F4;

        @include tablets{
            display: none;
        }
    }

}