.features {
    display: flex;
    align-items: center;

    &__item {
        margin-right: rem(30px);

        &:last-child {
            margin-right: rem(0px);
        }
    }
}

.feature {
    display: flex;
    align-items: center;
    font-size: rem(16px);

    &__icon {
        fill: #fff;
        width: rem(35px);
        height: rem(35px);
        margin-right: rem(14px);
    }
    &__text {
        max-width: rem(90px);
    }
}