html {
    font-size: $baseFontSize;

    @include tablets {
        font-size: $baseFontSize - 1px;
    }

    @include phones {
        font-size: $baseFontSize - 2px;
    }
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Alegreya Sans', sans-serif;
    line-height: 1.42;
    position: relative;
    color: #666666;
}

.wrapper {
    position: relative;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.container {
    width: 100%;
    padding: 0 rem(10px);
    max-width: $containerWidth;
    margin: 0 auto;

    @include tablets {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.maincontent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.lock {
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    font-weight: normal;
}

table {
    border-collapse: collapse;
}

ul {
    padding: 0;
    margin: 0;

    li {
        list-style: none;
    }
}

p {
    padding: 0;
    margin: 0;
}

footer {
    position: relative;
    width: 100%;
}

* {
    box-sizing: border-box;
}

a {
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
}

address {
    font-style: normal;
}