.btn {
    display: inline-block;
    font-size: rem(16px);
    font-weight: 700;
    line-height: 1;
    padding: rem(21px) rem(41px);
    text-transform: uppercase;
    text-decoration: none;
    border-radius: rem(100px);
    border: none;
    cursor: pointer;

    &--yellow {
        background: #FEDB3F;
        color: #000;

        &:hover {

        }
    }
}

.btn-reset {
    color: inherit;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}