.footer {

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;

    &__container {
        padding-top: rem(17px);
        padding-bottom: rem(17px);
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include tablets {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        @include phones {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}

.address {
    text-align: left;

    @include phones {
        text-align: center;
        margin-bottom: 0.1rem;
    }

    &__street {
        margin-bottom: 0.1rem;
    }

    &__phone {
        @include phones {
            justify-content: center;
        }
    }
}