.form {
    display: flex;

    @include tablets {
        flex-direction: column;
        padding: 0 19%;
    }

    @include phones {
        padding: 0;
    }

    &__col {
        flex: 1;
        margin-right: rem(20px);

        @include tablets {
            margin-right: 0;
        }

        &:last-child {
            margin-right: rem(0px);
        }
    }

    &__col:nth-child(2) > &__row {
        margin-bottom: rem(31px);
    }

    &__row {
        display: flex;
        margin-bottom: rem(14px);
    }

    &__block {
        flex: 1;
        margin-right: rem(20px);
        position: relative;

        &:last-child {
            margin-right: rem(0px);
        }
    }

    &__input {
        width: 100%;
        padding: rem(18px) rem(12px);
        border-radius: rem(4px);
        border: rem(3px) solid transparent;

        @include phones {
            padding-top: 0.4rem;
            padding-bottom: 0.4rem;
        }

        &:focus {
            border-color: #FEDB3F;
            outline: none;
        }

        &--textarea {
            height: rem(164px);
            resize: none;

            @include phones {
                height: rem(82px);
            }
        }
    }

    &__validity {
        position: absolute;
        top: 0;
        right: 0;
    }

    &__controls {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: rem(16px);

        @include phones {
            justify-content: center;
        }
    }

    &__btns {
        margin-top: rem(44px);

        @include tablets {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__btn {
        margin-right: rem(22px);

        &:last-child {
            margin-right: rem(0px);
        }
    }
}
