.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-weight: 700;
    white-space: nowrap;
}

.menu {
    &__list {
        display: flex;
        align-items: center;
    }

    &__item {
        margin-right: 22px;

        &:last-child {
            margin-right: 0px;
        }
    }

    &__link {
        text-decoration: none;
    }
}

.phone-number {
    font-size: 22px;
    text-decoration: none;
    display: flex;
    align-items: center;

    &__icon {
        width: 13px;
        height: 14px;
        margin-right: 6px;
    }
}