.hero {
    background: url(../img/bg.jpg) top center / cover no-repeat;
    background-color: #1968B1;
    color: #fff;

    @include tablets {
        background-position-x: right;
        padding-top: 0;
    }

    &.section {
        flex-direction: row;
        padding: rem(24px) rem(0px) rem(60px) rem(0px);


        @include phones {
            height: 100vh;
            padding-bottom: 0;
            padding-top: 0;
        }
    }
    
    &__title-section {
        width: 46%;

        @include tablets {
            width: 100%;
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    &__main-title {
        font-size: rem(48px);
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: rem(17px);

        @include phones {
            font-size: 1.6rem;
        }
    }

    &__title-descr {
        font-size: rem(21px);
        margin-bottom: rem(39px);
    }

    &__icons-section {
        @include tablets {
            display: none;
        }
    }
}
