.reviews {

    &__display {
        background: #F8FAF9;
        padding: rem(42px);
        margin-bottom: rem(15px);

        @include tablets {
            margin-bottom: rem(32px);
        }
    }

    &__display-inner {
        display: flex;
        align-items: center;

        @include tablets {
            flex-direction: column;
            text-align: center;
        }
    }

    &__avatar {
        width: rem(253px);
        height: rem(264px);

        @include tablets {
            width: rem(130px);
            height: rem(130px);
        }
    }

    &__avatar-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__content {
        flex: 1;
        margin-left: rem(40px);

        @include tablets {
            margin-left: 0;
            margin-top: rem(32px);
        }
    }

    &__title {
        color: $lightBlack;
        font-size: rem(27px);
        font-weight: 700;
        margin-bottom: rem(14px);
    }

    &__text {
        margin-bottom: rem(25px);
    }

    &__author {
        color: $lightBlack;
        font-weight: 500;
    }

    &__switcher {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}